@font-face {
    font-family: 'Organetto';
    src: url('Organetto-Bold.woff2') format('woff2'),
        url('Organetto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

